/* * {
  /* box-sizing: border-box; */
  /* padding: 0;
}*/

body {
    /* background-image: url("Images/annie-spratt-EACvtuV2k2E-unsplash.jpg"); */
    /* background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-size: cover;
    /* background-color: #cccccc; */
    /* background-color: #f4decb; */
    background-color: #f8eee7;
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 28px;
    color: #49274a;
   }

   .header {
    padding: 80px;
    text-align: center;
    /* background: #1abc9c; */
    background-image: url("Images/annie-spratt-EACvtuV2k2E-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #94618e;
    /* background-blend-mode: multiply; */
    filter: sepia(0%) saturate(70%) brightness(100%) hue-rotate(330deg);
    background-size: cover;
    color: white;
   }

   .header h1 {
       font-size: 40px;
   }

   .topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #94618e;
    color: #f4decb;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #49274a;
  }
  
  .active {
    background-color: #49274a;
  }

  main {
    display: grid;
    grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
    gap: 40px;
    padding: 60px 0;
  }

  .cards {
    grid-column: 2 / span 12;
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, 60px));
    gap: 40px;
  }

  .card {
    grid-column-end: span 4;
    display: flex;
    flex-direction: column;
    background-color: #fcdcc5;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }

  .card:hover {
    transform: translateY(-7px);
  }

  .text--medium {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
  }

  .card-image-container {
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
  }

.card-image-container img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-content {
  padding: 20px;
}

.card-title {
  margin-bottom: 20px;
}

.card-info {
  display: flex;
  align-self: end;
  align-items: center;
}

.card-price {
  margin-left: auto;
  padding: 0px 20px;
  border-radius: 10px;
}

   .footer {
    padding: 20px;
    text-align: center;
    /* background: #ddd; */
    background: #f4decb;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
    box-shadow: 0px 3px 10px rgba(0,0,0,.25)
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
    box-shadow: 0px 3px 10px rgba(0,0,0,.25)
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
    box-shadow: 0px 3px 10px rgba(0,0,0,.25)
  }
  
  .fa-instagram {
    /* background: #125688;*/
    color: white;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25)
  }

  @media only screen and (max-width: 1000px) {
    .card {
      grid-column-end: span 6;
    }
  }

  @media only screen and (max-width: 700px) {
    main {
      gap: 20px;
    }
    .card {
      grid-column-end: span 12;
    }
  }

  @media only screen and (max-width: 500px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
    main {
      grid-template-columns: 10px repeat(6, 1fr) 10px;
      gap: 10px;
    }
    .cards {
      grid-column: 2 / span 6;
      grid-template-columns: repeat(6, 1fr);
      gap: 20px;
    }
    .card {
      grid-column-end: span 6;
    }
  }